

html.body{
	height: 100%;
	background: #80FF00;
	} 

body{
	background: #1B1B1B;
	overflow: auto; 
	padding-left: 15px;
	padding-right: 15px;
	} 

*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	}
	
	#sidebar{
		position: fixed;
		width: 400px;
		height: 99.70%;
		background: #000000;
		opacity: 96%;
		border-right: 4px solid #616161;
		border-bottom: 4px solid #616161;
		left: -404px;
		-moz-transition: all 600ms;
		-webkit-transition: all 600ms;
		transition: all 600ms;
		
		text-shadow: 
										0 0 10px rgba(44, 255, 0, 1),
									0 0 25px rgba(44, 255, 0, 1);
		}
		
		#sidebar.active{
			left: 0px;
			}
		
		#sidebar ul li:first-child{
			text-align: center;
			color: #fff;
			font-size: 2.5em;
			list-style: none;
			padding: 25px 10px 10px 10px;
			}
			
			#sidebar ul li:not(:first-child){
			width: 90%;
			margin-left: 10%;
			font-size: 1.5em;
			list-style: none;
			padding: 15px 10px ;
			text-shadow: 
										0 0 10px rgba(255, 0, 27, 1), 
									0 0 15px rgba(255, 0, 27, 1), 
									0 0 25px rgba(255, 0, 27, 1);
			}
			
			#sidebar ul li a{
				color: #fff;
				text-decoration: none;
				
				text-shadow: 
										0 0 10px rgba(255, 0, 27, 1), 
									0 0 15px rgba(255, 0, 27, 1), 
									0 0 25px rgba(255, 0, 27, 1);
				}
				
				#sidebar ul li a:hover{
					color: #FF0018;
					}
					
					#sidebar .toggle-btn{
						position: absolute;
						left: 415px;
						top: 20px;
						background: #FF0029;
						padding: 10px;
						border-radius: 1px;
						
						}
						
						#sidebar .toggle-btn span{
							display: block;
							width: 25px;
							height: 4px;
							background-color: #fff;
							margin: 5px 5px;
							}
							
							header{
								background: #272727;
								padding: 5px;
								border-bottom: 7px solid #272727;
								border-left: 7px solid #272727;
								border-right: 7px solid #272727 ;
								border-radius: 0 0 25px 25px;
								box-shadow: 0px 0px 15px 10px #000;
								color: #000;
								
								
									text-shadow: 
									0 0 5px #FF0010, 
									0 0 6px #FF000D, 
									0 0 7px #FF0009, 
									0 0 50px #FF0000;
							}
						

									footer{
										font-size: 30px;
										background: #000000 ; 
										font-size: 40px;
										text-shadow: #FF001B;
										border-radius: 20px 20px 0 0;
										box-shadow: 0px 0 50px 0 #000;
										}
										
									
											
											.welctxt1{
												opacity: 1000%;
												margin-top: 20px;
												animation-name: idohg;
												animation-duration: 600ms;
												animation-iteration-count: infinite;
												animation-direction: alternate;
												} 
											
											@keyframes idohg{
												0%{
													text-shadow:
													0 0 4px rgba(255, 0, 27, 1), 
									0 0 5px rgba(255, 0, 27, 1), 
									0 0 2px rgba(255, 0, 27, 1);
													}
														100%{
															text-shadow:
															0 0 4px rgba(255, 0, 27, 0), 
									0 0 5px rgba(255, 0, 27, 0), 
									0 0 2px rgba(255, 0, 27, 0);
															}
												}
												
												.footer-h1-01{
													color: #1B1B1B;
													text-shadow: 
													0 0 1px rgba(255, 0, 27, 1),
													0 0 2px rgba(255, 0, 27, 1), 
													0 0 3px rgba(255, 0, 27, 1), 
													0 0 4px rgba(255, 0, 27, 1);
													}
													
													.footer-h1-02{
													color: #1B1B1B;
													text-shadow: 
													0 0 1px rgba(255, 0, 27, 1),
													0 0 2px rgba(255, 0, 27, 1), 
													0 0 3px rgba(255, 0, 27, 1), 
													0 0 4px rgba(255, 0, 27, 1);
													}
													
													.tyue{
													box-shadow: 0 0 30px 1px rgb(5, 5, 5);
													border-radius: 20px;
													background: #000;
													padding-top: 15px;
													padding-bottom: 15px;
													}